

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 200px 150px 1fr 1fr;
  gap: 0px 0px;
}

.Header { 
  grid-area: 1 / 1 / 4 / 6;  
  max-height: 1200px;
  background-image: url('https://images.squarespace-cdn.com/content/v1/54eec73ee4b0ae0904da0e94/1448810901819-9PLJNAVIC6XQ7AXHDBB0/ke17ZwdGBToddI8pDm48kIZvwhI-8nL3dm4Y-FdCqJh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USGjq6LBx7SyvhsPLpqz-wFvV2NCBNU0OuYyUzlUSeK82anKKElMM0s3nuMZPJoZ7A/Giorgia_DearData_50_Front.jpg?format=2500w');
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  /* background-position:top left; */
  font-family: 'Arvo', serif;
  font-size: x-large;
}

.title {
  text-align: right;
  padding-right: 30px;
}
.links { grid-area: 3 / 3 / 4 / 6; }

.Headshot {  
  grid-area: 4 / 1 / 5 / 5;
  /* border: blue 2px solid; */
  height: 250px;
  width: 30%;
 }

.image {
  max-height: 90%;
  max-width: 90%;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 90%;
}

.Body { 
  grid-area: 4 / 2 / 6 / 6;
  font-family: 'Lato', sans-serif;
  /* border: 2px red solid;  */
  text-align: center;}

.text-font {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}



.link {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  display: block;
  text-decoration: none;
}


.link-active {
  text-decoration: underline;
  font-size: large;
}

.project-titles {
  margin: 0;
  padding: 8px;
  font-family: 'Arvo', serif;
  font-size: x-large;
  text-decoration: none;
  color: rgb(90, 38, 90);
  opacity:0.7;
}



.About-me {
  margin: 20px; 
  padding-left: 10%;
  padding-right: 10%;
  max-width: 70%;
  overflow-y: auto;
  background-color: rgb(238, 232, 243);
  border-radius: 15px;
  text-align: center;
  box-shadow: 7px 7px 2px 1px rgb(90, 38, 90);
}

.about-pic {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.page-text {
  font-style: bold;

}
.project-img {
  max-width: 20%;
  max-height: 20%;
}

.video-responsive {
  overflow: hidden;
  width: 75%;
  height: 10%;
  margin: 10px 0px 10px 80px;
  padding-top: 30%;
  padding-bottom: 20%;
  position: relative;
  text-align: center;
  
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}

a {
  padding: 10px;
}

.stack-titles {
  font-family: 'Lato', sans-serif;
  margin: 2px;
}

.description {
  color: rgb(90, 38, 90);
}


.contact-div {
  overflow-y: auto;
  background-color: rgb(238, 232, 243);
  border-radius: 15px;
  margin: 20px; 
  box-shadow: 7px 7px 2px 1px rgb(90, 38, 90);

}

.icons {
  width: 55px;
  height: 45px;
  /* float: left; */
  padding: none;
}

.links {
  display: inline;
}