

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.Header { grid-area: 1 / 1 / 4 / 6; 
  background-image: url('https://images.squarespace-cdn.com/content/v1/54eec73ee4b0ae0904da0e94/1448810901819-9PLJNAVIC6XQ7AXHDBB0/ke17ZwdGBToddI8pDm48kIZvwhI-8nL3dm4Y-FdCqJh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USGjq6LBx7SyvhsPLpqz-wFvV2NCBNU0OuYyUzlUSeK82anKKElMM0s3nuMZPJoZ7A/Giorgia_DearData_50_Front.jpg?format=2500w');
  background-size: cover;
  background-position:top left;
  font-family: 'Arvo', serif;
  font-size: x-large;
}

.title {
  text-align: right;
  padding-right: 30px;
}
.links { grid-area: 3 / 3 / 4 / 6; }

.Headshot {  grid-area: 4 / 1 / 6 / 6; 
  height: 300px;
  width: 250px;
 }

.image {
  max-height: 90%;
  max-width: 90%;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 90%;
}
.Body { grid-area: 4 / 1 / 6 / 6;
  font-family: 'Lato', sans-serif;
  border: 2px red solid; 
  text-align: center;}

.text-font {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 10px;
  /* margin: 0; */
  padding: 0;
}

li {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  display: inline;
  text-decoration: none;
}

a {
  padding: 8px;
  font-family: 'Arvo', serif;
  font-size: x-large;
  text-decoration: none;
  color: rgb(116, 49, 116);
  opacity:0.5;
}

li a:hover {
  opacity:1;
}